/* .bg {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;

  width: 80dvw;

  z-index: -1;

  filter: blur(0.7em);
  mask-image: radial-gradient(circle, black 80%, transparent 90%);
} */

body {
  background: radial-gradient(circle at top, color-mix(in srgb, var(--color) 30%, #000 70%) 0%, #020202 100%);
}

.main-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2vw;

  flex: 1;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .main-c {
    margin-left: 0;
    align-items: stretch;
  }
}

.category-c {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
}

@media screen and (max-width: 900px) {
  .category-c {
    align-items: stretch;
  }
}

.category-c > span {
  color: color-mix(in srgb, #fff 100%, #000 30%);
  font-size: 1em;
}

.pill-c {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .pill-c {
    justify-content: flex-start;
  }
}

.pill {
  width: fit-content;

  padding: 0.7em 1em;
  border-radius: 10em;

  background-color: color-mix(in srgb, var(--color) 10%, transparent 90%);

  border: 1px solid color-mix(in srgb, var(--color) 50%, #000 20%);

  color: var(--color);
  font-size: 1.2em;
}

.card-c {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;

  max-width: 90vw;
}

@media screen and (max-width: 900px) {
  .card-c {
    grid-auto-flow: row !important;
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1.5em 1.7em;
  border-radius: 1em;

  background-color: color-mix(in srgb, var(--color) 3%, transparent 97%);

  border: 1px solid color-mix(in srgb, var(--color) 30%, #000 20%);

  font-size: 1.2em;

  transition-duration: 0.3s;
}

.card[data-project-id], .card.more {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .card {
    justify-content: space-between;
  }
}

.card[data-project-id]:not(.card.more)::after {
  content: "ï”";
  font-family: "Font Awesome 7 Pro";
  align-self: center;

  margin-left: 1.3em;
  max-width: 1.5em;

  /* opacity: 0; */

  transform: translateX(-10px);

  transition-duration: 0.3s;

  text-align: right;
}

.card[data-project-id]:not(.card.more):hover::after {
  opacity: 1;
  transform: translateX(0);
}
.card[data-project-id]:hover,
.card.more:hover {
  background-color: color-mix(in srgb, var(--color) 5%, transparent 95%);
  box-shadow: 0 0 10px 2px color-mix(in srgb, var(--color) 15%, transparent 95%);
}

.card > div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card > div > span {
  font-size: 0.9em;
  color: color-mix(in srgb, var(--color) 100%, #000 40%);
}

.card > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.card > div > div > h2 {
  font-size: 1.8em;
  font-weight: 700;
}

.card > div > div > span {
  font-size: 0.95em;
  color: color-mix(in srgb, #fff 100%, #000 30%);
}

.card.more {
  flex-direction: column;
  justify-content: center;
}

.card.more:hover > .more > i {
  transform: translateX(10px);
}

.card > .more {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  font-size: 1.2em;
}

.card.more > .more > i {
  transition-duration: 0.3s;
}

@media screen and (max-width: 900px) {
  .card > .more {
    flex-direction: row;
  }
}
