.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3em;

  padding: 0 2vw;

  flex: 1;
}

.card {
  display: flex;
  align-items: center;

  cursor: pointer;

  font-size: 3em;
  font-weight: 100;

  transition-duration: 0.3s;
}

.card:hover {
  letter-spacing: 0.3em;
  font-size: 3em;
  font-weight: 200;
}
