@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://site-assets.fontawesome.com/releases/v7.1.0/css/fontawesome.css");
@import url("https://site-assets.fontawesome.com/releases/v7.1.0/css/solid.css");

@view-transition {
  navigation: auto;
}

body {
  background-color: #020202;
  color: #ffffff;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-size-adjust: none;

  margin: 0;

  height: 100dvh;

  overflow: hidden;
}

@media screen and (max-width: 900px) {
  body {
    padding: 0 3vw;
    align-items: stretch;
    height: auto;
    min-height: 100dvh;
    overflow: auto;
  }
}

#body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;

  padding: 0 2vw;

  height: 100%;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 1em 0;

  width: 100%;

  border-radius: 10em;

  font-size: 1.3em;
}

.topbar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.topbar > div > a {
  transition-duration: 0.3s;
}

.topbar > div > a:hover {
  color: color-mix(in srgb, #fff 70%, #000 30%);
}

.topbar > div > a > i {
  transition-duration: 0.3s;
}

.topbar > div > a > i:hover {
  transform: translateX(-3px);
}
